Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'

let mapleader=" "
let localmapleader=" "

set timeoutlen=400

set NERDTree
set ideajoin
" set multiple-cursors
" set surround
" set which-key
" set notimeout
set easymotion

set clipboard+=unnamed
set clipboard+=ideaput

set showmode

set relativenumber
set number

set ignorecase
set smartcase
set scrolloff=5

set incsearch
set hls

let g:WhichKey_FontSize = 18
let g:WhichKey_KeyColor = "#74c7ec"

" Source ideavimrc
nmap <leader>Z :source ~/.ideavimrc<CR>
let g:WhichKeyDesc_source = "<leader>Z Source .ideavimrc"

" Save
nmap <C-s> :w<CR>

" Redo
nmap U <C-r>

" Keep centered when jumping search results
nmap n nzzzv

" Re-select visual selection after indenting
vnoremap < <gv
vnoremap > >gv

" Fix yank, paste, delete with cipboard
nnoremap yy "+yy
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P
nnoremap dd "+dd
vnoremap d "+d

" Clear search highlighting
nmap <leader>k :noh<CR>
let g:WhichKeyDesc_clear_search = "<leader>k Clear search highlight"

" Clear all notifications
nmap <leader>K :action ClearAllNotifications<CR>
let g:WhichKeyDesc_clear_notifications = "<leader>K Clear all notifications"

" Show settings
nmap <leader>C :action ShowSettings<CR>
let g:WhichKeyDesc_show_settings = "<leader>C Show settings"

" Splits
nmap <leader>_ :action SplitVertically<CR>
let g:WhichKeyDesc_split_vertically = "<leader>_ Split vertically"
nmap <leader>- :action SplitHorizontally<CR>
let g:WhichKeyDesc_split_horizontally = "<leader>- Split horizontally"
nmap <leader>M :action MoveEditorToOppositeTabGroup<CR>
let g:WhichKeyDesc_move_opposite = "<leader>M Move to opposite tab group"
nmap <C-h> <c-w>h
nmap <C-j> <c-w>j
nmap <C-k> <c-w>k
nmap <C-l> <c-w>l

" Move lines up and down
nmap <A-j> :action MoveLineDown<CR>
nmap <A-k> :action MoveLineUp<CR>

" Go to
nmap <leader>f :action GotoFile<CR>
let g:WhichKeyDesc_goto_file = "<leader>f Go to file"
nmap <leader>c :action GotoClass<CR>
let g:WhichKeyDesc_goto_class = "<leader>c Go to class"
nmap <leader>b :action GotoSymbol<CR>
let g:WhichKeyDesc_goto_symbol = "<leader>b Go to symbol"
nmap <leader>D :action GotoDatabaseObject<CR>
let g:WhichKeyDesc_goto_database = "<leader>D Go to database object"
nmap <leader>a :action GotoAction<CR>
vmap <leader>a :action GotoAction<CR>
let g:WhichKeyDesc_goto_action = "<leader>a Go to action"
vmap <leader>A :action SearchEverywhere<CR>
let g:WhichKeyDesc_goto_all = "<leader>A Go to all"
nmap <leader>i :action RecentFiles<CR>
let g:WhichKeyDesc_goto_recent_files = "<leader>i Go to recent files"
nmap <leader>I :action RecentChangedFiles<CR>
let g:WhichKeyDesc_goto_recent_changed = "<leader>I Go to recent changed files"
nmap <leader>m :action FileStructurePopup<CR>
let g:WhichKeyDesc_goto_recent = "<leader>m Go to file member"

" Find/replace
nmap <leader>F :action FindInPath<CR>
let g:WhichKeyDesc_find = "<leader>F Find in path"
nmap <leader>R :action ReplaceInPath<CR>
let g:WhichKeyDesc_replace = "<leader>R Replace in path"

" Tool windows
let g:WhichKeyDesc_windows = "<leader>e Tool windows"
nmap <S-Bs> :action HideAllWindows<CR>
nmap <S-Space> :action JumpToLastWindow<CR>
nmap <leader>ee :action JumpToLastWindow<CR>
let g:WhichKeyDesc_window_commit = "<leader>ee Last window"
nmap <leader>ec :action ActivateCommitToolWindow<CR>
let g:WhichKeyDesc_window_commit = "<leader>ec Commit"
nmap <leader>et :action ActivateTerminalToolWindow<CR>
let g:WhichKeyDesc_window_terminal = "<leader>et Terminal"
nmap <leader>es :action ActivateStructureToolWindow<CR>
let g:WhichKeyDesc_window_structure = "<leader>es Structure"
nmap <leader>ef :action ActivateFindToolWindow<CR>
let g:WhichKeyDesc_window_find = "<leader>ef Find"
nmap <leader>er :action ActivateRunToolWindow<CR>
let g:WhichKeyDesc_window_run = "<leader>er Run"
nmap <leader>ed :action ActivateDebugToolWindow<CR>
let g:WhichKeyDesc_window_debug = "<leader>ed Debug"
nmap <leader>eD :action ActivateDatabaseToolWindow<CR>
let g:WhichKeyDesc_window_database = "<leader>eD Database"
nmap <leader>eg :action ActivateVersionControlToolWindow<CR>
let g:WhichKeyDesc_window_vcs = "<leader>eg Git"
nmap <leader>ep :action ActivatePullRequestsToolWindow<CR>
let g:WhichKeyDesc_window_pr = "<leader>ep Pull requests"
nmap <leader>eb :action ActivateBookmarksToolWindow<CR>
let g:WhichKeyDesc_window_bookmarks = "<leader>eb Bookmarks"
nmap <leader>en :action ActivateNotificationsToolWindow<CR>
let g:WhichKeyDesc_window_notification = "<leader>en Notifications"
nmap <leader>en :action ActivateAIAssistantToolWindow<CR>
let g:WhichKeyDesc_window_ai = "<leader>ea AI Assistant"

" Close editors/tabs
nmap qq :action CloseContent<CR>
let g:WhichKeyDesc_close = "qq Close current"
nmap qo :action CloseAllEditorsButActive<CR>
let g:WhichKeyDesc_close_other = "qo Close all other"

" Code
nmap <A-Space> :action ShowIntentionActions<CR>
let g:WhichKeyDesc_code = "g Code"
nmap gd :action GotoDeclaration<CR>
let g:WhichKeyDesc_code_declaration = "gd Go to declaration"
nmap gu :action ShowUsages<CR>
let g:WhichKeyDesc_code_show_usages = "gu Show usages"
nmap gU :action FindUsages<CR>
let g:WhichKeyDesc_code_find_usages = "gU Find usages"
nmap gI :action GotoImplementation<CR>
let g:WhichKeyDesc_code_implementation = "gI Go to implementation"
nmap gG :action Generate<CR>
let g:WhichKeyDesc_code_generate = "gG Generate"
nmap gp :action ParameterInfo<CR>
let g:WhichKeyDesc_code_parameters = "gp Parameter info"
" nmap gI :action QuickImplementations<CR>
" let g:WhichKeyDesc_code_quick_implementations = "gI Quick implementations"
nmap gK :action QuickJavaDoc<CR>
let g:WhichKeyDesc_code_quick_javadoc = "gK Quick documentation"
nmap gJ :action EditorCodeBlockStart<CR>
let g:WhichKeyDesc_code_block_start = "gJ Code block start"
nmap gj :action EditorCodeBlockEnd<CR>
let g:WhichKeyDesc_code_block_end = "gj Code block end"
nmap go :action OptimizeImports<CR>
let g:WhichKeyDesc_optimize_imports = "go Optimize imports"
nmap gm :action ImplementMethods<CR>
let g:WhichKeyDesc_code_implement_methods = "gm Implement methods"

nmap ge :action ShowErrorDescription<CR>
let g:WhichKeyDesc_code_error = "ge Show error description"

vmap gr :action Refactorings.QuickListPopupAction<CR>
nmap gr :action Refactorings.QuickListPopupAction<CR>
let g:WhichKeyDesc_code_refactor = "gr Refactor"
vmap <leader>rn :action RenameElement<CR>
nmap <leader>rn :action RenameElement<CR>
let g:WhichKeyDesc_code_refactor = "<leader>rn Rename"
vmap gf :action ReformatCode<CR>
nmap gf :action ReformatCode<CR>
let g:WhichKeyDesc_code_reformat = "gf Reformat code"

nmap gc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>
let g:WhichKeyDesc_code_line_comment = "gc Line comment"
vmap gC :action CommentByBlockComment<CR>
let g:WhichKeyDesc_code_block_comment = "gC Block comment"

" Vcs
let g:WhichKeyDesc_vcs = "<leader>v Git"
nmap <leader>vn :action VcsShowNextChangeMarker<CR>
let g:WhichKeyDesc_vcs_next_change = "<leader>vn Next change"
nmap <leader>vp :action VcsShowPrevChangeMarker<CR>
let g:WhichKeyDesc_vcs_prev_change = "<leader>vp Previous change"
nmap <leader>vs :action VcsShowCurrentChangeMarker<CR>
let g:WhichKeyDesc_vcs_current_change = "<leader>vs Show change"
nmap <leader>vz :action Vcs.RollbackChangedLines<CR>
let g:WhichKeyDesc_vcs_current_change_revert = "<leader>vz Revert change"

nmap <leader>vy :action Vcs.QuickListPopupAction<CR>
let g:WhichKeyDesc_vcs_quick = "<leader>vy Quick list"
nmap <leader>va :action Annotate<CR>
let g:WhichKeyDesc_vcs_annotate = "<leader>va Blame annotations"
nmap <leader>vR :action Git.ResolveConflicts<CR>
let g:WhichKeyDesc_vcs_conflict = "<leader>vR Resolve conflicts"
nmap <leader>vr :action ChangesView.Refresh<CR>
let g:WhichKeyDesc_vcs_refresh = "<leader>vr Refresh VCS changes"

nmap <leader>vo :action Github.Open.In.Browser<CR>
let g:WhichKeyDesc_vcs_github_browser = "<leader>vo Open on Github"

" Easymotion
nmap s :action AceWordStartAction<CR>
nmap m :action AceLineIndentsAction<cr>
    " <ll>f{char}    |  <Plug>(easymotion-f) |  mapped to fn
    " <ll>F{char}    |  <Plug>(easymotion-F) |  mapped to Fn
    " <ll>t{char}    |  <Plug>(easymotion-t) |  mapped to tn
    " <ll>T{char}    |  <Plug>(easymotion-T) |  mapped to Tn

    " <ll>w          |  <Plug>(easymotion-w) |
    " <ll>W          |  <Plug>(easymotion-W) |
    " <ll>b          |  <Plug>(easymotion-b) |
    " <ll>B          |  <Plug>(easymotion-B) |
    " <ll>e          |  <Plug>(easymotion-e) |
    " <ll>E          |  <Plug>(easymotion-E) |
    " <ll>ge         |  <Plug>(easymotion-ge |
    " <ll>gE         |  <Plug>(easymotion-gE |
    " <ll>j          |  <Plug>(easymotion-j) |
    " <ll>k          |  <Plug>(easymotion-k) |
    " <ll>n          |  <Plug>(easymotion-n) |
    " <ll>N          |  <Plug>(easymotion-N) |
    " <ll>s          |  <Plug>(easymotion-s) |  mapped to sn

" Diagnostics

" Tests
let g:WhichKeyDesc_test = "t Tests"
nmap <leader>tn :action RunClass<CR>
let g:WhichKeyDesc_test_run_class = "tr Run nearest"
nmap <leader>tg :action GotoTest<CR>
let g:WhichKeyDesc_test_go_to = "tg Go to test"
nmap <leader>tt :action Rerun<CR>
let g:WhichKeyDesc_test_rerun = "tt Rerun"
nmap <leader>tf :action RerunFailedTests<CR>
let g:WhichKeyDesc_test_rerun_failed = "tf Rerun failed"
nmap <leader>tc :action ChooseRunConfiguration<CR>
let g:WhichKeyDesc_test_choose = "tc Choose configuration"
nmap <leader>ts :action Stop<CR>
let g:WhichKeyDesc_test_choose = "ts Stop"

" Nerdtree/files
let g:WhichKeyDesc_files = "<leader>n Files"
nmap <leader>nn :NERDTreeToggle<CR>
let g:WhichKeyDesc_files_toggle = "<leader>nn Toggle tree"
nmap <leader>nf :NERDTreeFind<CR>
let g:WhichKeyDesc_files_toggle_show = "<leader>nf Toggle tree, show file"
nmap <leader>nb :action ShowNavBar<CR>
let g:WhichKeyDesc_files_nav = "<leader>nb Show nav bar"

" String manipulation
nmap <leader>S :action osmedile.intellij.stringmanip.PopupChoiceAction<CR>
vmap <leader>S :action osmedile.intellij.stringmanip.PopupChoiceAction<CR>
let g:WhichKeyDesc_string_manipulation = "<leader>S String manipulation"

" Surround
nmap <leader>u :action SurroundWith<CR>
vmap <leader>u :action SurroundWith<CR>
let g:WhichKeyDesc_surround = "<leader>u Surround with"
