configuration {
    font:            "JetBrains Mono Nerd Font 10";
    show-icons:      false;
    icon-theme:      "Oranchelo";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@import "~/.config/rofi/catppuccin-mocha.rasi"
